<h1 id="profileHeading">Your Coffee match is:</h1>

<button class="btn btn-success" id="sendEmailBtn">EMAIL COFFEE TYPE!</button>

<br>

{{#each results}}

<img class="profilePosters" src="show pic herer">

{{/each}}