<div class="bg">
    <div class="jumbotron" id="jumbo">
        <h1>Coffee Personality Quiz!</h1>
        <div id="howToPlay">
            <p>Take the quiz below to help us determine what type of coffee you are!</p>

        </div>

    </div>      

            <div id="radioButtons">
            <h3>You love curling up with a good book on a rainy day.</h3>
            <form name="frm1" action="" method="post">
             
             <label>  
            <label>  <input type="radio" name="question1"  value="1" >
              <span> 1 - This does not describe me at all.</span></label>
                <br>
                <label> <input type="radio" name="question1" value="2" >
                <span> 2</span></label>
                <br>
                <label> <input type="radio" name="question1"  value="3" >
                <span> 3</span></label>
                <br>
                <label> <input type="radio" name="question1"  value="4" >
                <span> 4</span></label>
                <br>
                <label> <input type="radio" name="question1"  value="5" >
                <span>  5 - This describes me perfectly.</span></label>

            </label>
</select>
            <label>
                <br><br>
                <h3>You prefer reliable classics to new trends.</h3>
                <select data-placeholder="" class="browser-default" id="q2">
                <label> <option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label> <option value="2" />
                    <span>2</span></option></label>
                <br>
                <label> <option value="3" />
                    <span>3</span></option></label>
                <br>
                <label> <option value="4" />
                    <span>4</span></option></label>
                <br>
                <label> <option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
</select>
            <label>
                <br><br>
                <h3>You hate to be boring.</h3>
                <select data-placeholder="" class="browser-default" id="q3">
                <label> <option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label> <option value="2" />
                    <span>2</span></option></label>
                <br>
                <label> <option value="3" />
                    <span>3</span></option></label>
                <br>
                <label> <option value="4" />
                    <span>4</span></option></label>
                <br>
                <label> <option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
</select>
            <label>

                <br><br>
                <h3>You’re always cheerful and eager to spread a sweet smile.</h3>
                <select data-placeholder="" class="browser-default" id="q4">
                <label> <option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label> <option value="2" />
                    <span>2</span></option></label>
                <br>
                <label> <option value="3" />
                    <span>3</span></option></label>
                <br>
                <label> <option value="4" />
                    <span>4</span></option></label>
                <br>
                <label> <option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
            </select>
            <label>

                <br><br>
                <h3>You consider yourself a night owl.</h3>
                <select data-placeholder="" class="browser-default" id="q5">
                <label> <option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label> <option value="2" />
                    <span>2</span></option></label>
                <br>
                <label> <option value="3" />
                    <span>3</span></option></label>
                <br>
                <label> <option value="4" />
                    <span>4</span></option></label>
                <br>
                <label> <option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
            </select>
            <label>
                <br><br>
                <h3>You’d rather go clubbing than to an art museum.</h3>
                <select data-placeholder="" class="browser-default" id="q6">
                <label> <option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label> <option value="2" />
                    <span>2</span></option></label>
                <br>
                <label> <option value="3" />
                    <span>3</span></option></label>
                <br>
                <label> <option value="4" />
                    <span>4</span></option></label>
                <br>
                <label> <option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
</select>
            <label>
                <br><br>
                <h3>You never make plans without consulting your calendar first.</h3>
                <select data-placeholder="" class="browser-default" id="q7">
                <label> <option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label><option value="2" />
                    <span>2</span></option></label>
                <br>
                <label><option value="3" />
                    <span>3</span></option></label>
                <br>
                <label><option value="4" />
                    <span>4</span></option></label>
                <br>
                <label><option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
            </select>
            <label>
                <br><br>
                <h3>Your favorite meal of the day is breakfast. </h3>
                <select data-placeholder="" class="browser-default" id="q8">
                <label><option value="1" />
                    <span>1 - This does not describe me at all.</span></option></label>
                <br>
                <label><option value="2" />
                    <span>2</span></option></label>
                <br>
                <label><option value="3" />
                    <span>3</span></option></label>
                <br>
                <label><option value="4" />
                    <span>4</span></option></label>
                <br>
                <label><option value="5" />
                    <span>5 - This describes me perfectly.</span></option></label>
                <br>
            </label>
            </select>
            <br><br>
            <a class="waves-effect waves-light btn-small" id="backToResults">Submit</a>
    
    </div>

            
        
        
            
        <a class="waves-effect waves-light btn-small" id="backToResults" href="/results">Submit</a>
    </form>
</div>

</div>

</div> <!-- END QUESTION CONTAINER -->


<script src="/js/survey.js"></script>