<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
    <style>
html {
  background-image: url("../public/assets/images/beans.jpg");
  background-size: cover;
  color: #fff !important;
}
    </style>
</head>


<div class="jumbotron" id="jumbo">
    <center>
        <h1>Coffee Personality Quiz!</h1>
        <div id="howToPlay">
            <p>Take the quiz below to help us determine what type of coffee you are!</p>
            
        </div>
    </center>
</div>

<div id="radioButtons">
    <h2>You love curling up with a good book on a rainy day.</h2>
    <form name="frm1" action="" method="post">
        {{!-- Question 1 --}}
        <input type="radio" name="question1" id="q1a" value="A" />
        <label for="q1a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question1" id="q1b" value="B" />
        <label for="q1b">2</label>
        <br>
        <input type="radio" name="question1" id="q1c" value="C" />
        <label for="q1c">3</label>
        <br>
        <input type="radio" name="question1" id="q1d" value="D" />
        <label for="q1d">4</label>
        <br>
        <input type="radio" name="question1" id="q1e" value="E" />
        <label for="q1e">5 - This describes me perfectly.</label>
        <br>

        {{!-- Question 2 --}}
        <br><br>
        <h2>You prefer reliable classics to new trends.</h2>
        <input type="radio" name="question2" id="q2a" value="A" />
        <label for="q2a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question2" id="q2b" value="B" />
        <label for="q2b">2</label>
        <br>
        <input type="radio" name="question2" id="q2c" value="C" />
        <label for="q2c">3</label>
        <br>
        <input type="radio" name="question2" id="q2d" value="D" />
        <label for="q2d">4</label>
        <br>
        <input type="radio" name="question2" id="q2e" value="E" />
        <label for="q2e">5 - This describes me perfectly.</label>
        <br>

        
        <br><br>
        <h2>You hate to be boring.</h2>
        <input type="radio" name="question3" id="q3a" value="A" />
        <label for="q3a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question3" id="q3b" value="B" />
        <label for="q3b">2</label>
        <br>
        <input type="radio" name="question3" id="q3c" value="C" />
        <label for="q3c">3</label>
        <br>
        <input type="radio" name="question3" id="q3d" value="D" />
        <label for="q3d">4</label>
        <br>
        <input type="radio" name="question3" id="q3e" value="E" />
        <label for="q3e">5 - This describes me perfectly.</label>
        <br>

        
        <br><br>
        <h2>You’re always cheerful and eager to spread a sweet smile.</h2>
        <input type="radio" name="question4" id="q4a" value="A" />
        <label for="q4a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question4" id="q4b" value="B" />
        <label for="q4b">2</label>
        <br>
        <input type="radio" name="question4" id="q4c" value="C" />
        <label for="q4c">3</label>
        <br>
        <input type="radio" name="question4" id="q4d" value="D" />
        <label for="q4d">4</label>
        <br>
        <input type="radio" name="question4" id="q4e" value="E" />
        <label for="q4e">5 - This describes me perfectly.</label>
        <br>

        
        <br><br>
        <h2>You consider yourself a night owl.</h2>
        <input type="radio" name="question5" id="q5a" value="A" />
        <label for="q5a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question5" id="q5b" value="B" />
        <label for="q5b">2</label>
        <br>
        <input type="radio" name="question5" id="q5c" value="C" />
        <label for="q5c">3</label>
        <br>
        <input type="radio" name="question5" id="q5d" value="D" />
        <label for="q5d">4</label>
        <br>
        <input type="radio" name="question5" id="q5e" value="E" />
        <label for="q5e">5 - This describes me perfectly.</label>
        <br>

        
        <br><br>
        <h2>You’d rather go clubbing than to an art museum.</h2>
        <input type="radio" name="question6" id="q6a" value="A" />
        <label for="q6a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question6" id="q6b" value="B" />
        <label for="q6b">2</label>
        <br>
        <input type="radio" name="question6" id="q6c" value="C" />
        <label for="q6c">3</label>
        <br>
        <input type="radio" name="question6" id="q6d" value="D" />
        <label for="q6d">4</label>
        <br>
        <input type="radio" name="question6" id="q6e" value="E" />
        <label for="q6e">5 - This describes me perfectly.</label>
        <br>

       
        <br><br>
        <h2>You never make plans without consulting your calendar first.</h2>
        <input type="radio" name="question7" id="q7a" value="A" />
        <label for="q7a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question7" id="q7b" value="B" />
        <label for="q7b">2</label>
        <br>
        <input type="radio" name="question7" id="q7c" value="C" />
        <label for="q7c">3</label>
        <br>
        <input type="radio" name="question7" id="q7d" value="D" />
        <label for="q7d">4</label>
        <br>
        <input type="radio" name="question7" id="q7e" value="E" />
        <label for="q7e">5 - This describes me perfectly.</label>
        <br>

        {{!--  Question 8  --}}
        <br><br>
        <h2>Your favorite meal of the day is breakfast. </h2>
        <input type="radio" name="question8" id="q8a" value="A" />
        <label for="q8a">1 - This does not describe me at all.</label>
        <br>
        <input type="radio" name="question8" id="q8b" value="B" />
        <label for="q8b">2</label>
        <br>
        <input type="radio" name="question8" id="q8c" value="C" />
        <label for="q8c">3</label>
        <br>
        <input type="radio" name="question8" id="q8d" value="D" />
        <label for="q8d">4</label>
        <br>
        <input type="radio" name="question8" id="q8e" value="E" />
        <label for="q8e">5 - This describes me perfectly.</label>
        <br>

        <br><br>
        <input type="button" value="Submit" class="btn btn-primary btn-lg" id="submit" onclick="checkQuiz();" />
    </form>
</div>
