

body {
  /* color: white; */
  font-family: 'Noto Serif JP', serif;
}

html {
    background-image: url("/assets/images/background.jpg");
    background-repeat: none;
    color: #fff; 
  }
  .login {
    margin-top: 100px;
  }
  .login .card {
    background-color: rgba(46, 31, 12, 0.6);
  }
  .login label {
    font-size: 16px;
    color: #ccc; 
  }
  .login input {
    font-size: 22px !important;
    color: #fff !important;
  }
  .login button:hover {
    padding: 0px 40px;
    color: #fff !important;
  } 


  #fullBackground {
    background-color: rgba(46, 31, 12, 0.6);
    
  }

  #backToResults {
    background-color: rgba(46, 31, 12, 0.6);
}


/* RESULTS PAGE CSS */

#titleResults {
  background-color: rgba(46, 31, 12, 0.6);
  padding: 20px;

}

#title {
  text-align: center;
  color: white; 
  
}

#words {
   color: black;
}

#blackCoffee {
   background-image: url(../images/blackCoffee.jpeg);
   background-repeat: no-repeat;
   text-align: right;
}

#latte {
    background-image: url(../images/latte.png);
    background-repeat: no-repeat;   
    text-align: right; 
}

#cappuccino {
    background-image: url(../images/cappuccino.jpeg);
    background-repeat: no-repeat;
    text-align: right;
}


#chaiTea {
   background-image: url(../images/chaiTea.jpeg);
   background-repeat: no-repeat;
   text-align: right;
}


#espresso {
   background-image: url(../images/espresso.jpeg);
   background-repeat: no-repeat;
   text-align: right;
}

#caramel {
   background-image: url(../images/caramel.jpeg);
   background-repeat: no-repeat;
   text-align: right;
}

#userResult {
   text-align: right;
}

#photo {
   text-align: left;
}

#backToResults {
   background-color: #2E1F0C;
}


/*SURVEY PAGE CSS*/
.bg{
    background: #fff;
    margin: 30px;

    
}

input[type="radio"]{
    -webkit-appearance: radio;
}

#questionContainer {
  background-color: white;
  padding: 20px;

}

#questions {
  color: #2E1F0C;
}

