/* Survey css */

body {
  color: white;
  font-family: 'Noto Serif JP', serif;
}

html {
    background-image: url("/assets/images/background.jpg");
    background-repeat: none;
    color: #fff; 
  }
  .login {
    margin-top: 100px;
  }
  .login .card {
    background: rgba(0, 0, 0, .6);
  }
  .login label {
    font-size: 16px;
    color: #ccc; 
  }
  .login input {
    font-size: 22px !important;
    color: #fff !important;
  }
  .login button:hover {
    padding: 0px 40px;
    color: #fff !important;
  } 

  setup {
      /* this is a test */
  }

  #fullBackground {
    background-color: #2E1F0C;
    
  }

  #questionContainer {
    background-color: white;
    color: #2E1F0C;
    
    text-align: center;
  }

  #backToResults {
    background-color: #2E1F0C;
}